build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
gateway_server

.vscode
.idea/
*.swp

*.o
*.obj
*.out
*.a
*.so
*.dll
*.exe

__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
*.egg-info/

.DS_Store

*.log
*.tmp